@model IEnumerable<CollegeManagement.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered" id="datatable">
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                ajax: {
                    url: '/Admin/Student/List',
                    dataSrc: function (res) {
                        return res.data
                    }
                },
                language: {
                    paginate: {
                        previous: "<",
                        next: ">",
                    }
                },
                columns: [
                    { data: 'name' },
                    { data: 'code' },
                    {
                        data: 'gender',
                        render: (data, type, row, meta) => {
                            return `${data === 1 ? "Male" : data === 0 ? "Female" : "Other"}`
                        }
                    },
                    {
                        data: 'dob',
                        render: (data, type, row, meta) => {
                            return `${data ? moment(data).format("DD/MM/YYYY") : ""}`
                        }
                    },
                    { data: 'courseName' },
                    {
                        data: 'status',
                        render: (data, type, row, meta) => {
                            switch (data) {
                                case 0:
                                    return `<p class="text-warning">Processing</p>`
                                case 1:
                                    return `<p class="text-info">Admission</p>`
                                case 2:
                                    return `<p class="text-danger">Expelled</p>`
                                case 3:
                                    return `<p class="text-danger">Fail</p>`
                                case 4:
                                    return `<p class="text-success">Graduating</p>`
                                default:
                                    return `<p class="text-warning">Processing</p>`
                            }
                            
                        }
                    },
                    {
                        data: 'testScore',
                        render: (data, type, row, meta) => {
                            return `<p>${data ? moment(data).format("DD/MM/YYYY") : ""}</p>`
                        }
                    },
                    {
                        data: 'imageURL',
                        render: (data, type, row, meta) => {
                            return `<img
                                src="${row.imageURL !== undefined && row.imageURL && row.imageURL != "" ? row.imageURL : DEFAULT_IMG}"
                            class="img-index" />`
                        }
                    },
                    {
                        data: 'id',
                        render: (data, type, row, meta) => {
                            return `<div>
                                    <a href="/Admin/Student/Edit/${row.id}" class="btn btn-action btn-warning"><i class="fa fa-edit"></i></a>
                                    <a href="/Admin/Student/Details/${row.id}" class="btn btn-action btn-info"><i class="fa fa-eye"></i></a>
                                    <a href="/Admin/Student/Delete/${row.id}" class="btn btn-action btn-danger"><i class="fa fa-trash"></i></a>
                                </div>`
                        }
                    },
                ],
                columnDefs: [
                    {
                        targets: 0,
                        title: "Name",
                        className: "text-center",
                    },
                    {
                        targets: 1,
                        title: "Code",
                        className: "text-center",
                    },
                    {
                        targets: 2,
                        title: 'Gender',
                        className: "td-word_break"
                    },
                    {
                        targets: 3,
                        title: 'DOB',
                        className: "td-word_break"
                    },
                    {
                        targets: 4,
                        title: 'Course',
                        className: "td-word_break"
                    },
                    {
                        targets: 5,
                        title: 'Status',
                        className: "td-word_break"
                    },
                    {
                        targets: 6,
                        title: 'Tesst Score',
                        className: "td-word_break"
                    },
                    {
                        targets: 7,
                        title: 'Image',
                        className: "td-word_break"
                    },
                    {
                        targets: 8,
                        title: 'Action'
                    }
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
            })
        })
    </script>
}