@model AccountUpSertDTO

@{
    ViewData["Title"] = "My Profile";
    var userInfo = (AccountLogin)Context.Items["UserLogin"];
}

<h1>My Profile</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditMyProfile" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Full Name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label">User Name</label>
                <input asp-for="UserName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">
                    Phone Number
                </label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <button type="button" class="btn btn-info" id="img-select-btn">Change Image</button>
                <input asp-for="Image" type="file" class="form-control" id="image-select" hidden accept="image/*" />
            </div>
            <div class="form-group">
                <img class="upload-img" src="@Model.ImageURL" />
            </div>
            <div class="form-group">
                <input type="submit" value="Update Profile" class="btn btn-warning mr-2" />
                <a asp-action="ChangePassword" class="btn btn-primary">Change password</a>
                <a href="/Admin" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
