@model CollegeManagement.Models.Content

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Content</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" id="content_form" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-4">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Type" class="control-label"></label>
                <select class="select2 form-control" asp-for="Type">
                    <option value="2">Event</option>
                    <option value="0">About Us</option>
                    <option value="1">History</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="col-4 form-group" id="year_select">
                <label asp-for="Year" class="control-label"></label>
                <select class="select2 form-control" asp-for="Year">
                    @for (var i = DateTime.Now.Year; i >= 1900; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="col-12 form-group">
                <label>Content Body</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control content-editor" })
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success mr-2" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#year_select").hide()
            $(".content-editor").summernote({
                height: 500,
                callbacks: {
                    onImageUpload: function (image) {
                        uploadFile(image[0]);
                    }
                }
            });

            $("#content_form").on('submit', function () {
                $.validator.unobtrusive.parse($(this));
                if ($(this).valid()) {
                    addIndicator();
                }
            })

            $("#Type").on("change", function () {
                if ($(this).val() === "1") {
                    $("#year_select").show()
                } else {
                    $("#year_select").hide()
                }
            })
        })

        function uploadFile(file, editor, welEditable) {
            data = new FormData();
            data.append("file", file);
            $.ajax({
                data: data,
                type: "POST",
                url: "/Admin/Content/UploadImg",
                cache: false,
                contentType: false,
                processData: false,
                success: function (url) {
                    var image = $('<img>').attr('src', url);
                    $('.content-editor ').summernote("insertNode", image[0]);
                },
                error: function (data) {
                    notificationError(data)
                }
            });
        }
    </script>
}
