@{
    ViewData["Title"] = "Index";
    var userInfo = (AccountLogin)Context.Items["UserLogin"];
}

<h1>Index</h1>

@if (userInfo.Role != "Faculty")
{
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
}
<table class="table table-striped table-bordered" id="datatable">
</table>

@section Scripts {
    @if (userInfo.Role == "Faculty")
    {
        <script>
            var isFaculty = true
        </script>
    }
    else
    {
        <script>
            var isFaculty = false
        </script>
    }
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                ajax: {
                    url: '/Admin/Course/List',
                    dataSrc: function (res) {
                        return res.data
                    }
                },
                language: {
                    paginate: {
                        previous: "<",
                        next: ">",
                    }
                },
                columns: [
                    { data: 'name' },
                    { data: 'info' },
                    { data: 'price' },
                    {
                        data: 'focus',
                        render: (data, type, row, meta) => {
                            return `<div class="form-group form-switch" style="padding: 0">
                                        <input disabled ${row.focus ? "checked" : null} class="form-check-input" style="float:right; opacity:1" type="checkbox" id="flexSwitchCheckChecked">
                                    </div>`
                        }
                    },
                    {
                        data: 'imageURL',
                        render: (data, type, row, meta) => {
                            return `<img
                                        src="${row.imageURL !== undefined && row.imageURL && row.imageURL != "" ? row.imageURL : DEFAULT_IMG}"
                                    class="img-index" />`
                        }
                    },
                    { data: 'departmentName' },
                    {
                        data: 'startDate',
                        render: (data, type, row, meta) => {
                            return `<p>${data ? moment(data).format("DD/MM/YYYY") : ""}</p>`
                        }
                    },
                    {
                        data: 'endDate',
                        render: (data, type, row, meta) => {
                            return `<p>${data ? moment(data).format("DD/MM/YYYY") : ""}</p>`
                        }
                    },
                    {
                        data: 'id',
                        render: (data, type, row, meta) => {
                            if (isFaculty === true) {
                                return `<div>
                                    <a href="/Admin/Course/Details/${row.id}" class="btn btn-action btn-info"><i class="fa fa-eye"></i></a>
                                </div>`
                            }
                            return `<div>
                                <a href="/Admin/Course/Edit/${row.id}" class="btn btn-action btn-warning"><i class="fa fa-edit"></i></a>
                                <a href="/Admin/Course/Details/${row.id}" class="btn btn-action btn-info"><i class="fa fa-eye"></i></a>
                                <a href="/Admin/Course/Delete/${row.id}" class="btn btn-action btn-danger"><i class="fa fa-trash"></i></a>
                            </div>`
                        }
                    },
                ],
                columnDefs: [
                    {
                        targets: 0,
                        title: "Name",
                        className: "text-center",
                    },
                    {
                        targets: 1,
                        title: 'Information',
                        className: "td-word_break"
                    },
                    {
                        targets: 2,
                        title: 'Price',
                        className: "td-word_break"
                    },
                    {
                        targets: 3,
                        title: 'Focus',
                        className: "td-word_break"
                    },
                    {
                        targets: 4,
                        title: 'Image',
                        className: "td-word_break"
                    },
                    {
                        targets: 5,
                        title: 'DepartmentName',
                        className: "td-word_break"
                    },
                    {
                        targets: 6,
                        title: 'Start Date',
                        className: "td-word_break"
                    },
                    {
                        targets: 7,
                        title: 'End Date',
                        className: "td-word_break"
                    },
                    {
                        targets: 8,
                        title: 'Action'
                    }
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
            })
        })
    </script>
}