@model SubjectUpSertDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <textarea class="form-control" asp-for="Info" rows="3"></textarea>
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvancedDuration" class="control-label">Advanced Duration</label>
                <input asp-for="AdvancedDuration" type="number" class="form-control" />
                <span asp-validation-for="AdvancedDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicDuration" class="control-label">Basic Duration</label>
                <input asp-for="BasicDuration" type="number" class="form-control" />
                <span asp-validation-for="BasicDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <button type="button" class="btn btn-info" id="img-select-btn">Choose Image...</button>
                <input asp-for="Image" type="file" class="form-control" id="image-select" hidden accept="image/*"/>
            </div>
            <div class="form-group">
                <img class="upload-img"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success mr-2" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
