@model IEnumerable<Content>

<div class="all-title-box">
    <div class="container text-center">
        <h1>Course List<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
            </div>
        </div><!-- end title -->

        <hr class="invis">

        <div class="row">
            @{
                if (Model != null)
                {
                    foreach (var m in Model)
                    {
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="course-item">
                                <div class="course-br">
                                    <div class="course-title">
                                        <h2><a href="#" title="">@(m.Title)</a></h2>
                                    </div>
                                </div>
                                <div class="mt-2 text-center">
                                    <a asp-action="BlogDetails" asp-route-id="@m.ID" class="btn btn-info">Detail</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->