@model Content
<div class="all-title-box">
    <div class="container text-center">
        <h1>@Model.Title</h1>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>