@model FacilityUpSertDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Facility</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label">
                    Information
                </label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imgs" class="control-label">
                    Image
                </label>
                <input asp-for="Imgs" class="form-control" accept="image/*" />
                <span asp-validation-for="Imgs" class="text-danger"></span>
            </div>
            <div id="facilityImgs" class="row">

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success mr-2" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#facilityImgs").hide();

            $("#Imgs").on('change', function () {
                if ($(this).get(0) && $(this).get(0).files.length > 0) {
                    var FileList = [];
                    $("#facilityImgs").show();

                    $.each($(this).get(0).files, function (i, data) {
                        console.log(data.name)
                        if (FileList.length >= 5) {
                            return false;
                        }
                        if (data.type.includes("image")) {
                            FileList.push(data.name);
                        }
                    })

                    $(this).get(0).files = new FileListItems(FileList);
                } else {
                    $("#facilityImgs").hide();
                }
            })
            function FileListItems(files) {
                var b = new ClipboardEvent("").clipboardData || new DataTransfer()
                for (var i = 0, len = files.length; i < len; i++) b.items.push(files[i])
                return b.files
            }
        })
    </script>
}
